<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAeQ_vuE_1Uhbsofoa7fI6AsjtvVtCNnlU</string>
	<key>GCM_SENDER_ID</key>
	<string>224398252030</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.fau.cop4655.FinalProject</string>
	<key>PROJECT_ID</key>
	<string>mealmatch-b90cf</string>
	<key>STORAGE_BUCKET</key>
	<string>mealmatch-b90cf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:224398252030:ios:cb722c4221a188e6e112af</string>
</dict>
</plist>